@model IEnumerable<FuzzBrain.Models.POC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FuzzBrainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complexity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complexity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                <span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.POCID }) |
                </span>
                <span>
                    @Html.ActionLink("Details", "Details", new { id = item.POCID }) |
                </span>
                <span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.POCID })
                </span>
                }
                else{
                    @Html.ActionLink("Details", "Details", new { id = item.POCID })
                }
            </td>
        </tr>
    }

</table>
