@model IEnumerable<FuzzBrain.Models.QuestionModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FuzzBrainLayout.cshtml";
}


@if ((int)ViewData["QuestionId"] == 1)
{
    foreach (var item in Model)
    {
        <div class="container mt-5">
            <div class="d-flex justify-content-center row">
                <div class="col-md-10 col-lg-10">
                    <div class="border">
                        <div class="question bg-white p-3 border-bottom">
                            <div class="d-flex flex-row justify-content-between align-items-center mcq">
                                <span>(@Html.DisplayFor(modelItem => item.QuestionId) of 5)</span>
                            </div>
                        </div>
                        <div class="question bg-white p-3 border-bottom">
                            <div class="d-flex flex-row align-items-center question-title">
                                <h3 class="text-danger">Q.</h3>
                                <h5 class="mt-1 ml-2">@Html.DisplayFor(modelItem => item.Question)</h5>
                            </div>
                            <div class="ans ml-2">
                                <label class="radio">
                                    <input type="radio" name="brazil" value="brazil"> <span>@Html.DisplayFor(modelItem => item.Option1)</span>
                                </label>
                            </div>
                            <div class="ans ml-2">
                                <label class="radio">
                                    <input type="radio" name="Germany" value="Germany"> <span>@Html.DisplayFor(modelItem => item.Option2)</span>
                                </label>
                            </div>
                            <div class="ans ml-2">
                                <label class="radio">
                                    <input type="radio" name="Indonesia" value="Indonesia"> <span>@Html.DisplayFor(modelItem => item.Option3)</span>
                                </label>
                            </div>
                            <div class="ans ml-2">
                                <label class="radio">
                                    <input type="radio" name="Russia" value="Russia"> <span>@Html.DisplayFor(modelItem => item.Option4)</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

@if ((int)ViewData["QuestionId"] == 2)
{
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10 col-lg-10">
                <div class="border">
                    <div class="question bg-white p-3 border-bottom">
                        <div class="d-flex flex-row justify-content-between align-items-center mcq">
                            <span>(1 of 1)</span>
                        </div>
                    </div>
                    <div class="question bg-white p-3 border-bottom">
                        <div class="d-flex flex-row align-items-center question-title">
                            <h5 class="mt-1 ml-2">Upload your code file - Submit solutions in Java, C++ and other popular languages.</h5>
                        </div>
                        <div class="ans ml-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                           aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<div style="margin-top: 15px;">
    <button type="button" class="btn btn-secondary btn-lg btn-block" onClick='redirectOnClick()'>Submit</button>
</div>


<script>
    function redirectOnClick() {
        document.location = '/Challenges';
    }
</script>
